body .grippie {
  border-top: 1px solid #262626;
  background: url(/assets/grippie-d28a6f65e22c0033dcf0d63883bcc590.png) #262626 no-repeat center 3px;
}

#reply-control {
  transition: height 0.35s ease-in-out;
  background-color: #1a1a1a;
}

#reply-control .d-editor {
  border: 1px solid #1a1a1a;
}

#reply-control .contents .d-editor-preview {
  border: 1px dashed #1a1a1a;
}

#reply-control .wmd-control .d-editor-input, #reply-control .wmd-control .d-editor-preview, #reply-control .wmd-control .d-editor-button-bar {
  background-color: #0d0d0d;
}

#reply-control .d-editor-button-bar {
  border-bottom: 2px solid #262626;
}

#reply-control .wmd-controls .d-editor-input, #reply-control .wmd-controls .wmd-control .d-editor-preview, #reply-control .wmd-control .wmd-controls .d-editor-preview, #reply-control .wmd-controls .d-editor-button-bar, #reply-control .wmd-controls .d-editor-preview, #reply-control .d-editor-button-bar {
  background-color: #0d0d0d;
}
