.modal-inner-container {
    background-color: hsl(0,0%,100%);
}
.modal-inner-container h3 {
    color: hsl(0,0%,0%);
}
.modal-inner-container b, #keyboard-shortcuts-help ul b {
    display: inline-block;
    padding: 4px 5px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}
